form:has(> input[value="The Piety System"]) {
    border: 10px ridge #bbb808;
    background-color: rgba(187, 184, 8, 0.25);
}
input[value="The Piety System"] {
    font-style: italic;
}

.info-box {
    background-color: #eadcb7;
    border: 2px solid #696245;
    padding: 10px;
    margin: 6px;
}

/* Helpful Tips for Game Masters */
#secret-4NfDSDZV5pPhMNKF, #secret-bnlNjtSfer3Eqe9C, #secret-yXYAjEzZUU2nOJa9 {
    background-color: rgb(0, 61, 18);
    border: 3px inset gray;
    padding: 5px;
    margin: 4px;
}
#secret-4NfDSDZV5pPhMNKF h2, #secret-yXYAjEzZUU2nOJa9 h3 {
    color: white;
    border-bottom: 1px solid lightgray;
}
#secret-4NfDSDZV5pPhMNKF p, #secret-bnlNjtSfer3Eqe9C p, #secret-yXYAjEzZUU2nOJa9 p {
    color: white;
}
#secret-4NfDSDZV5pPhMNKF.revealed, #secret-bnlNjtSfer3Eqe9C.revealed, #secret-yXYAjEzZUU2nOJa9.revealed {
    background-color: rgba(0, 61, 18, 0.9);
    border-style: outset;
}